<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Action</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
			<tr>
				<td>
					<input class="form-control" ng-model="nerd.bugName">
				</td>
				<td>
					<input class="form-control" ng-model="nerd.bugColour">
                </td>
                <td>
                        <button class="btn btn-primary" ng-click="addUser()">Add User</button>
                </td>
                <td>
                    <button class="btn btn-info" ng-click="update()">Update</button>
                </td>
                <td>
                    <button class="btn btn-info" ng-click="clear()">Clear</button>
                </td>
                </tr>
                <tr ng-repeat="user in users">
                    <td>{{user.bugName}}</td>
                    <td>{{user.bugColour}}</td>
                    <td>
                        <button class="btn btn-danger" ng-click="remove(user._id)">Remove</button>
                    </td>
                    <td>
                        <button class="btn btn-warning" ng-click="edit(user._id)">Edit</button>
                    </td>
                    <td>
                        <a href="/view-user/{{ user._id }}" class="btn btn-primary">View</a>
                    </td
                </tr>
                </tbody>                
</table>