<table class="table">
    <tbody>
        <tr>
            <td>
                Name
            </td>
            <td>
                {{ contact.name }}
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                {{ contact.email }}
            </td>
        </tr>
        <tr>
            <td>
                Phone
            </td>
            <td>
                {{ contact.number }}
            </td>
        </tr>
    </tbody>
</table>